body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.container {
    padding: 0 100px 2px 100px;
}

.container p {
    text-align: justify;
}

.img {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
